<footer class="footer-container row">
    
    <div class="first-column">
        <ul class="socicons-list">
            <li>
                <a href='your_url_here' target='_blank'><span class="socicon-ravelry"></span></a> 
            </li>
            <li>
                <a href="href=https://www.instagram.com/teresacpcosta/" target='_blank'><span class="socicon-instagram"></span></a> 
            </li> 
            <li>
                <a href='your_url_here' target='_blank'><span class="socicon-facebook"></span></a> 
            </li> 
        </ul>
    </div>

    <div class="second-column">
        <p class="normal-text">Powered by <a class="inline-link" href="#mycreativity">Teresa`s Designs</a></p>
    </div>

</footer>