<!--The same header in all pages-->
<header class="header row">
    
    <nav class="header-container">
        <!--Menu in Small Devices - Hamburguer -->
        <span class="nav-hamburger" id="js-nav-hamburger">
            <i class="fas fa-bars"></i>
        </span>
        
        <!--Logo, Name, Title-->
        <p class="name-logo-title">TERESA`S CROCHET</p>
        
        <!--Main Menu-->
        <ul class="nav-main" id="js-nav-menu">
            <li><a href="/" class="nav-links">HOME</a></li>
            <li><a href="/blog" class="nav-links">BLOG</a></li>
            <li><a href="/about" class="nav-links">ABOUT ME</a></li>
        </ul>
    
    </nav>
    
</header>