<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <!--responsive-->
        <meta name="viewport" content="width=device-width">
        <title>Teresa's Crochet</title>
        <script href="js/script.js"></script>
        <!--My css-->
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <!--Socicon - Social Media Icons-->
        <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
        <!--Font Awesome - Hamburger-->
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
        <!--My Font-->
        <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap" rel="stylesheet">
    
    </head>

    <body>

        {{{body}}}
        
        <script src="js/script.js"></script>
      
    </body>

</html>