{{> header}}
<section class="section-blog">
    <main class="first-column-blog">
        <div class="cards">
            <h1 class="heading-entry-blog">
                This is a Heading blog post
            </h1>
            <a class="link-img-blog">
                <img class="img-blog" src="img/cushion.JPG">
            </a>
            <p class="text-entry-blog">
                This is an entry blog post
            </p>
        </div>
        <div class="space-cards"></div>
        <div class="cards">
            <a class="link-img-blog">
                <img class="img-blog" src="img/cushion.JPG">
            </a>
        </div>
        <div class="cards">
            <a class="link-img-blog">
                <img class="img-blog" src="img/cushion.JPG">
            </a>
        </div>
    </main>
    <sidebar class="second-column-blog">
        <div class="sidecards">
            <a>
                <img src="img/cushion.JPG" height="42" width="42">
            </a>
        </div>
        <div class="sidecards">
            <a>
                <img src="img/cushion.JPG" height="42" width="42">
            </a>
        </div>
        <div class="sidecards">
            <a>
                <img src="img/cushion.JPG" height="42" width="42">
            </a>
        </div>
    </sidebar>
</section>
{{> footer}}